@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<Company.Modules.MenuModul.Models.MenuCategory>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model == null)
    {
        <p>@Dnn.LocalizeString("NoCategories")</p>
    }
    else
    {
        <div class="MenuModuleContainer">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-6">
                        @foreach (var products in Model)
                        {
                            if (products.MenuProductsID == 1)
                            {
                                <div class="MenuModuleCard" id="ActiveCategory" onclick="ChangeCategory(1)">@products.Category <div class="MenuModuleImage"><img src="/Portals/0/Images/hetimenu/asia.png?ver=_oiWoh822KAkfvdb_kZR-A%3d%3d" /></div></div>
                            }
                            else if (products.MenuProductsID == 11)
                            {
                                <div class="MenuModuleCard" id="NotActive" onclick="ChangeCategory(2)">@products.Category <div class="MenuModuleImage"><img src="/Portals/0/Images/hetimenu/europe.png?ver=_oiWoh822KAkfvdb_kZR-A%3d%3d" /></div></div>
                            }
                        }
                    <div class="MenuModuleOptionsRow">
                        <div class="MenuModuleOption col-xs-6"><span id="ActiveOption" onclick="ChangeOption(1)">A</span></div>
                        <div class="MenuModuleOption col-xs-6"><span id="NotActive" onclick="ChangeOption(2)">B</span></div>
                    </div>
                        
                    </div>
                    <div class="col-xs-6">
                        @foreach (var products in Model)
                        {
                            if (products.MenuProductsID == 21)
                            {
                                <div class="MenuModuleCard" id="NotActive" onclick="ChangeCategory(3)">@products.Category <div class="MenuModuleImage"><img src="/Portals/0/Images/hetimenu/south-america.png?ver=_oiWoh822KAkfvdb_kZR-A%3d%3d" /></div></div>
                            }
                            else if (products.MenuProductsID == 31)
                            {
                                <div class="MenuModuleCard" id="NotActive" onclick="ChangeCategory(4)">@products.Category <div class="MenuModuleImage"><img src="/Portals/0/Images/hetimenu/mealkit.png?ver=_oiWoh822KAkfvdb_kZR-A%3d%3d" /></div></div>
                            }
                        }
                        <div class="FunFact"><ion-icon name="information-circle"></ion-icon><div id="FunFact"></div></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6"></div>
            </div>
            <div class="Valami">
                <div class="row HetiMenu" id="">
                    <div class="col-xs-2 Het" id="Het"></div>
                    <div id="Menu"></div>
                </div>
            </div>
        </div> 
    }
<script>
    //FunFactList
    var FunList = ["Tudtad? A sajt a világ legnagyobb mennyiségben ellopott étele...",
        "Tudtad? A csicseriborsó és a mandula majdnem annyi fehérjét tartalmaz, mint a steak...",
        "Tudtad? Az eper a rózsa családjába tartozik...",
        "Tudtad? A DNN a legjobb...",
        "Tudtad? A WebWarázslók csapata kipróbálta az összes európai boxot..."];
    var randomIndex = Math.floor(Math.random() * FunList.length);
    var selectedElement = FunList[randomIndex];
    document.getElementById("FunFact").innerText = selectedElement;

    //Menu
    var myModel = @Html.Raw(Json.Encode(Model));
    console.log(myModel);
    var actOp = 1;
    var actCat = "Ázsiai";
    GetMenu(actOp,actCat);
        function ChangeOption(o) {
            var options = document.querySelectorAll(".MenuModuleOption span");
            if (o === 1) {
                options[0].id = "ActiveOption";
                options[1].id = "NotActive";
            }
            if (o === 2) {
                options[0].id = "NotActive";
                options[1].id = "ActiveOption";
            }
            actOp = o;
            GetMenu(actOp,actCat);

        }
        function ChangeCategory(c) {
            var cats = document.querySelectorAll(".MenuModuleCard");
            for (var i = 0; i < cats.length; i++) {
                if (i + 1 === c) cats[i].id = "ActiveCategory";
                else cats[i].id = "NotActive";
            }
            actCat = document.getElementById("ActiveCategory").innerText;
            GetMenu(actOp, actCat);
        }
    function GetMenu(actOp, actCat) {
        //FunFact
        randomIndex = Math.floor(Math.random() * FunList.length);
        selectedElement = FunList[randomIndex];
        document.getElementById("FunFact").innerText = selectedElement;

        //GetMenu
        document.getElementById("Menu").innerHTML = "";
        if (actOp === 1) {
            document.getElementById("Het").innerHTML = "A Heti";
        }
        else document.getElementById("Het").innerHTML = "B Heti";
        for (var i = 0; i < myModel.length; i++) {
            if (myModel[i]["OptionsID"] === actOp && myModel[i]["Category"] === actCat) {
                document.getElementById("Menu").innerHTML +=
                    '<div class="col-xs-2"><div class="Nap" id="Nap">'+myModel[i]["Day"]+'</div><div class="Etel" id="Etel">'+myModel[i]["SKU"]+'</div></div>'
            }
            //else console.log("Baj van");
        }
    }
</script>
</div>
