@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<Company.Modules.MenuModul.Models.MenuCategory>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model == null)
    {
        <p>@Dnn.LocalizeString("NoCategories")</p>
    }
    else
    {
        <table>
            <tr>
                @for (var i = 0; i < 2; i++)
                {
                    if (@Model[i].Name.Contains("Főző"))
                    {
                        <td>
                            <div class="menu_td">Vegyes</div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="menu_td">@Model[i].Name.Substring(0, @Model[i].Name.LastIndexOf(' '))</div>
                        </td>
                    }

                }
            </tr>
            <tr>
                @for (var i = 2; i < 4; i++)
                {
                    if (@Model[i].Name.Contains("Főző"))
                    {
                        <td>
                            <div class="menu_td">Vegyes</div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="menu_td">@Model[i].Name.Substring(0, @Model[i].Name.LastIndexOf(' '))</div>
                        </td>
                    }
                }
            </tr>
            <tr>
                <td><div id="AButton">A</div></td>
                <td><div id="BButton">B</div></td>
            </tr>
        </table>
        <div id="BContainer" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BKaja 1</td>
                        <td>BKaja 2</td>
                        <td>BKaja 3</td>
                        <td>BKaja 4</td>
                        <td>BKaja 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="AContainer" style="display: none;">
            <table>
                <thead>
                    <a href="~/DesktopModules/MVC/MenuModul/Views/MenuCategory/Index.cshtml">~/DesktopModules/MVC/MenuModul/Views/MenuCategory/Index.cshtml</a>
                    <tr>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AKaja 1</td>
                        <td>AKaja 2</td>
                        <td>AKaja 3</td>
                        <td>AKaja 4</td>
                        <td>AKaja 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    <script>

        const AButton = document.getElementById('AButton');
        const BButton = document.getElementById('BButton');

        const AContainer = document.getElementById('AContainer');
        const BContainer = document.getElementById('BContainer');

        AButton.addEventListener('click', () => {
            if (AContainer.style.display === 'none' && BContainer.style.display === 'block') {
                BContainer.style.display = 'none';
                AContainer.style.display = 'block';
            } else if (AContainer.style.display === 'none') {
                AContainer.style.display = 'block';
            }
            else {
                AContainer.style.display = 'none';
            }
        });
        BButton.addEventListener('click', () => {
            if (BContainer.style.display === 'none' && AContainer.style.display === 'block') {
                AContainer.style.display = 'none';
                BContainer.style.display = 'block';
            } else if (BContainer.style.display === 'none') {
                BContainer.style.display = 'block';
            }
            else {
                BContainer.style.display = 'none';
            }
        });
    </script>
</div>
